.btn{
    a{
        display: inline-block;
        background: #FFFFFF;
        border-radius: 25px;
        margin: 0px 10px;
        font-family: $roboto;
        font-weight: 500;
        font-size: 18px;
        padding: 16px 36px;
    }
}