.security-area{
    background: #F5F7FA;

    .security-item-wrapper {
        width: 570px;
        height: 570px;
        background: #FFFFFF;
        box-shadow: 0px 20px 45px rgba(51, 77, 114, 0.1);
        border-radius: 15px;
        img{
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}

 .security-item-wrapper{
     h4{
         font-weight: 700;
        margin-top: 35px;
        margin-bottom: 20px;
        margin-left: 40px;
        width: 190px;
        font-size: 24px;
        line-height: 30px;
        color: #171D24;
     }
     p{
        margin-left: 40px;
        width: 490px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #6A737C;
     }
 }

 .item-wrapper {
    margin-left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 1px rgba(51, 77, 114, 0.1), 0px 1.6px 3.6px rgba(51, 77, 114, 0.15);
    border-radius: 10px;
    width: 570px;
    img{
        margin: 10px 10px;
    }

    .item-text {
        margin: 36px 20px;
    }

    .item-sub-title {
        margin-bottom: 32px;
       font-weight: 600;
        font-size: 17px;
        line-height: 26px;
        color: #171D24;
        margin-bottom: 32px;
        font-family: $poppins;
        width: 262px;
       
    }

    .author {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #6A737C;
    
    }
}

.item-wrapper-2{
    margin-left: 30px;
    margin-top: 20px;
    width: 570px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 1px rgba(51, 77, 114, 0.1), 0px 1.6px 3.6px rgba(51, 77, 114, 0.15);
    border-radius: 10px;

    img {
        margin-left: 50px;
       margin-top: 15px;
    }

    .item-sub-title{
        margin-bottom: 32px;
        font-family: $poppins;
        width: 262px;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
        color: #171D24;

    }

} 
