.shape  {
    .left-shape {
        position: absolute;
        top: 0;
        left: 0;
    }

    .right-shape {
        position: absolute;
        top: 0;
        right: 0;
    }

    .bottom-right-shape {
        position: absolute;
        top: 460px;
        right: 0;
    }
    
    .dot-1 {
        position: absolute;
        top: 250px;
        left: 40px;
    }

    .dot-2 {
        position: absolute;
        top: 500px;
        left: 17px;
    }

    .dot-3 {
        position: absolute;
        top: 750px;
        left: 170px;
    }

    .dot-4 {
        position: absolute;
        top: 450px;
        left: 350px;
    }

    .dot-5 {
        position: absolute;
        top: 250px;
        right: 50px;
    }

    .dot-6 {
        position: absolute;
        top: 500px;
        right: 10px;
    }

    .dot-7 {
        position: absolute;
        top: 450px;
        right: 350px;
    }

    .dot-8 {
        position: absolute;
        top: 750px;
        right: 170px;
    }
    
    
    
    
    
}
 

.logo-1 {
    position: absolute;
    top: 460px;
}

.logo-2 {
    position: absolute;
    top: 715px;
    left: -20px;
}

.logo-3 {
    position: absolute;
    top: 626px;
    left: 290px;
}

.logo-4 {
    position: absolute;
    top: 438px;
    right: 50px;
}

.logo-5 {
    position: absolute;
    top: 648px;
    right: 250px;
}

.logo-6 {
    right: 20px;
    position: absolute;
    top: 720px;
}
